.container {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;

  }
  
  .form-container {
    width: 100%;
    max-width: 200px; /* Adjust max-width as needed */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px; /* Spacing between form fields */
  }
  
  button {
    width: 100%;
    max-width: 400px;
    margin-top: 20px; /* Spacing above the button */
    align-items: center;
    display: flex;
    /* justify-content: flex-center; */
  }
  
  mat-error {
    color: #ff0000; /* Error message color */
  }
  